{% extends 'snippets/base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="col-xs-12">
    <h1>Add a snippet</h1>
    <form method="post">
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% render_field field class="form-control" placeholder=field.label %}
        </div>
        {% endfor %}

        <div class="form-group">
            <input type="submit" class="btn btn-success center-block" value="Submit">
        </div>
    </form>
</div>
{% endblock %}