# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class

# Distribution / packaging
../env/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py